.gutenberg__freeform {
  ul {
    list-style: disc;
  }
  img {
    display: flex;
  }
  .alignright {
    margin-left: auto;
  }
  .aligncenter {
    margin: 0 auto;
  }
  &-old {
    img {
      word-break: break-all;
    }
    h1 {
      margin-bottom: 20px;

      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.03em;
    }
  }
  &-old > * {
    margin-bottom: 20px;
    & > * {
      text-align: left !important;
    }
    text-align: left !important;
  }
}
