footer {
  width: 100%;

  border-top: 1px solid #eaeaea;

  ul {
    align-items: start;

    padding: 0;
    margin: 0;

    list-style: none;
  }

  img {
    margin-left: 0.5rem;
  }

  a {
    display: flex;
  }

  .data{
    padding: 50px 0;

    border-bottom: 1px solid #eaeaea;
  }

  .container {
    width: 100%;
    padding-left: 60px;
    padding-right: 100px;
    margin: 0;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  .footer__socials {
    display: flex;
  }

  .sitemap {
    display: flex;

    &__list {
      text-align: left;
    }
    &__list-item:first-child {
      font-weight: bold;
    }
  }
  .partners {
    &__logo {
      display: flex;
    }
  }
  .counter {
    &__wrapper {
      display: flex;
    }
    &__item {
      display: flex;
      flex-direction: column;
    }
  }
  .developers {
    display: flex;
    &__copyrights-logo {
      display: flex;
    }
  }
}
