footer {
  width: 100%;

  border-top: 1px solid #eaeaea;

  ul {
    align-items: start;

    padding: 0;
    margin: 0;

    list-style: none;
  }

  img {
    margin-left: 0.5rem;
  }

  a {
    display: flex;
  }

  .navigation__wrapper {
    width: 100%;
  }

  .data {
    padding: 50px 0;

    border-bottom: 1px solid #eaeaea;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  .socials {
    display: flex;
  }

  .navigation__sitemap {
    display: flex;

    .sitemap__list {
      text-align: left;
    }
    .sitemap__list-item:first-child {
      font-weight: bold;
    }
    .sitemap__list-item:nth-child(2){
      span {
        display: flex;
      }
    }
  }
  .partners {
    &__logo {
      display: flex;
    }
  }
  .counter {
    &__wrapper {
      display: flex;
    }
    &__item {
      display: flex;
      flex-direction: column;
    }
  }
  .developers {
    display: flex;
    &__copyrights-logo {
      display: flex;
    }
  }
}
