.gutenberg__poll {
  padding-top: 20px;
  padding-bottom: 20px;
}
.poll {
  &__question {
    &-title {
      font-weight: 700;
      line-height: 24px;
    }
  }
  &__answers {
    padding-left: 0;
    padding-bottom: 30px;
    margin-bottom: 0;
    &-thx {
      margin-bottom: 24px;

      font-family: $font-family-titles;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.65;
      letter-spacing: 0.03em;
    }
  }
  &__progress {
    font-family: $font-family-titles;

    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.03em;

    color: $grey-600;

    &-count {
      display: inline-flex;

      margin-bottom: 7px;
    }
  }
  &__buttons {
    display: flex;
  }
  .crowdfunding-progress__bar {
    max-width: 423px;
    margin-bottom: 24px;

    border-radius: 10px;
    span {
      border-radius: 10px;
    }
  }
}

.p-btn {
  display: none;

  padding: 12px 30px;

  border: 1px solid #d6d6d6;

  font-family: $font-family-titles;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: $black;

  text-transform: capitalize;
  &:hover {
    border: 1px solid $black;
  }
}

.p-results {
  &__item {
    max-width: 423px;
    margin: 0 auto 24px auto;
  }
  &__question {
    margin-bottom: 20px;

    font-family: $font-family-titles;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.65;
    letter-spacing: 0.03em;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;

    margin-bottom: 4px;
  }
  &__answer {
    margin-bottom: 0;

    font-family: $font-family-titles;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
  }
  &__result {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
  }
  .crowdfunding-progress__bar:not(:last-child) {
    margin-bottom: 32px;
  }
  .crowdfunding-progress__bar:last-child {
    margin-bottom: 0px;
  }
}

.p-btn:not(:last-child) {
  margin-right: 24px;
}
.nxt-btn--active,
.sbt-btn--active {
  display: flex;
}

/* Quiz Component */
.answerOptions {
  margin: 0;
  padding: 0;

  width: fit-content;
  list-style: none;
}

/* QuestionCount Component */
.questionCount {
  padding: 1.5rem 2.5rem 0;

  font-size: 14px;
}

/* Question Component */
.question {
  margin: 0;
  padding: 0.5rem 2.5rem 1.5rem 2.5rem;
}

.answerOption {
  display: flex;
  align-items: center;

  width: fit-content;
}
.answerOption:not(:last-child) {
  padding-bottom: 28px;
}

.radioCustomButton,
.checkboxCustomButton {
  width: auto;

  position: absolute;

  opacity: 0;
}

.radioCustomButton,
.radioCustomLabel,
.checkboxCustomLabel,
.checkboxCustomButton {
  display: flex;
  align-items: center;

  cursor: pointer;
}

.radioCustomLabel,
.checkboxCustomLabel {
  margin: 0;

  position: relative;

  font-size: 16px;
  line-height: 1.5;
}

.checkboxCustomButton ~ .checkboxCustomLabel:before {
  content: '';
  display: inline-block;

  width: 24px;
  height: 24px;
  margin-right: 16px;
  vertical-align: middle;

  background: #fff;
  border: 1px solid $grey-200;

  transition: all 0.3s;
}

.radioCustomButton:checked ~ .radioCustomLabel:before {
  content: '';

  border: 5px solid $green;
}

.checkboxCustomButton:checked ~ .checkboxCustomLabel:before {
  content: '';

  background-image: url('data:image/svg+xml;charset=UTF-8, <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M13.62 0.608287L5.39989 8.82841L2.37952 5.80804C2.23308 5.6616 1.99564 5.6616 1.84917 5.80804L0.965297 6.69191C0.818859 6.83835 0.818859 7.07579 0.965297 7.22226L5.1347 11.3917C5.28114 11.5381 5.51858 11.5381 5.66505 11.3917L15.0342 2.02251C15.1806 1.87607 15.1806 1.63863 15.0342 1.49216L14.1503 0.608287C14.0039 0.461849 13.7665 0.461849 13.62 0.608287Z" fill="white"/></svg>');
  background-color: $green;
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
  border-color: $green;
}

.radioCustomButton ~ .radioCustomLabel:before {
  content: '';
  display: inline-block;

  width: 24px;
  height: 24px;
  margin-right: 16px;
  vertical-align: middle;

  border: 1px solid $grey-200;
  border-radius: 50%;

  transition: all 0.3s;
}
