{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "extends": ["react-app", "prettier", "prettier/eslint", "plugin:prettier/recommended"],
  "plugins": ["prettier", "prettier/recommended"],
  "rules": {
    // Next JS has a Link component that wraps around <a></a>, inserting the href during compilation. Disable for now.
    "jsx-a11y/anchor-is-valid": 0,
    // Disable JS no-unused-vars and enable TS no-unused-vars, otherwise there is confusion.
    "no-unused-vars": 0,
    "prettier/prettier": "error",
    "react/prefer-es6-class": [2, "always"],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/jsx-pascal-case": [2],
    "react/jsx-closing-bracket-location": [
      2,
      {
        "location": "tag-aligned"
      }
    ],
    "no-multi-spaces": 2,
    "react/jsx-tag-spacing": [2, { "beforeSelfClosing": "always" }],
    "react/self-closing-comp": [
      "error",
      {
        "component": true,
        "html": true
      }
    ],
    "react/no-string-refs": 2,
    "react/jsx-wrap-multilines": 2,
    "react/jsx-no-bind": 2,
    "react/require-render-return": 2,
    "react/no-is-mounted": 2,
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ],
        "newlines-between": "always"
      }
    ]
  }
}
