.share-actions {
  display: flex;
  align-items: center;

  position: relative;

  &__main {
    display: flex;
    align-items: center;

    button {
      & + button {
        margin-left: 30px;
      }
    }

    &:not(:only-child) {
      button:last-child {
        margin-right: 30px;
      }
    }
  }

  &__open {
    &--active {
      .social-icon {
        color: $green !important;
      }
    }
  }

  &__popover {
    display: flex;
    align-items: center;

    position: relative;

    z-index: 1000;

    button {
      & + button {
        margin-left: 15px;
      }
    }
  }
}
