.videos-list {
  &__item {
    display: flex;
    align-items: center;
  }

  &__item + &__item {
    padding-top: 24px;
  }
}

.video-item {
  cursor: pointer;

  &__title {
    // display: -webkit-box;

    max-height: 3.6rem;
    // -webkit-box-orient: vertical;
    font-size: 14px;

    // text-overflow: ellipsis;
    // white-space: normal;
    // -webkit-line-clamp: 3;

    line-height: 1.2rem;

    overflow: hidden;
  }

  &__wrapper {
    display: flex;
    align-items: center;

    min-width: 100px;
    
    &--current {
      color: $green;
    }
  }

  &__duration {
    margin-left: 13px;

    font-size: 12px;
  }
}