.scroll-top__container {
  display: flex;
  align-items: flex-end;

  height: 100%;
  padding-bottom: 16px;

  position: absolute;
  top: 0;
  right: 16px;

  opacity: 0;

  transition: opacity 0.3s;
  pointer-events: none;

  z-index: 50;

  cursor: pointer;
}
.scroll-top--active {
  opacity: 1;

  transition: opacity 0.3s;
}

.scroll-top {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 48px;
  height: 48px;

  border-radius: 50%;
  border: 1px solid #d6d6d6;
  background-color: #fff;

  transition: all 0.3s;

  pointer-events: all;

  z-index: 50;
  &:hover {
    border-color: #242424;
    svg > path {
      fill: #1d9e74;
    }
  }
  &:focus {
    outline: none;
  }
}
