.gutenberg__audio {
  padding-top: 20px;
  padding-bottom: 20px;

  width: 100%;

  audio {
    width: 100%;

    background-color: transparent;
  }
  .gutenberg__audio-player {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;

    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
  }
}
