.articles-container {
  padding-top: 50px;
  padding-bottom: 80px;
}

.articles-container--sm {
  max-width: 896px;
}

.meta-date {
  display: block;

  @include media-breakpoint-up(sm) {
    margin-top: 3px;
  }

  color: $grey-200;
  font-family: $font-family-titles;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.article {
  &:not(:last-child) {
    margin-bottom: 24px;
  }

  @include media-breakpoint-up(sm) {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__wrapper {
    display: flex;

    @include media-breakpoint-down(xs) {
      flex-direction: column;
    }
  }

  &__image {
    width: 100%;
    margin-bottom: 10px;

    @include media-breakpoint-up(sm) {
      margin-bottom: 0;
    }
  }

  &__category {
    @include make-category;
  }

  &__title {
    margin-bottom: 10px;

    line-height: 1;

    @include media-breakpoint-up(sm) {
      margin-bottom: 10px;
    }
  }

  &__address {
    font-family: $font-family-titles;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.06em;
  }

  &__address-city {
    display: block;
  }

  &__meta {
    display: flex;
  }

  &__comments {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.06em;
    color: #a6a6a6;
  }

  &__top {
    display: flex;

    margin-bottom: 10px;
    .meta-date {
      @include media-breakpoint-down(xs) {
        line-height: 10px;
        letter-spacing: 0.06em;
        color: $grey-400;

        &:after {
          content: '•';
          display: inline-block;

          margin-left: 4px;
          margin-right: 4px;
        }
      }
      @include media-breakpoint-up(sm) {
        display: none;
      }
    }
  }

  &__chronology {
    display: none;

    @include media-breakpoint-up(sm) {
      display: block;
    }

    max-width: 40px;

    @include media-breakpoint-up(lg) {
      max-width: 88px;
    }
    width: 100%;
  }

  @include media-breakpoint-up(sm) {
    &__main {
      padding-left: 24px;
    }
  }

  .category-label {
    @include media-breakpoint-down(xs) {
      padding: 0;

      background-color: transparent;

      color: $grey-400;
      font-weight: 500;
      font-size: 12px;
      line-height: 10px;
      letter-spacing: 0.06em;
      font-family: $font-family-titles;
      text-transform: none;

      &:before {
        display: none;
      }
    }
  }
}

.article-list {
  &__item,
  &__item-link {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.06em;
    line-height: 24px;
  }

  &__item {
    padding-left: 32px;

    &:not(:last-child) {
      margin-bottom: 6px;
    }

    position: relative;

    font-family: $font-family-titles;

    @include media-breakpoint-up(sm) {
      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }
  }

  &__item-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20px;
    height: 20px;

    left: 0;
    top: 2px;
    position: absolute;

    &--location {
      svg {
        max-width: 10px;

        @include media-breakpoint-up(sm) {
          max-width: 12px;
        }
      }
    }

    &--callendar {
      svg {
        max-width: 12px;

        @include media-breakpoint-up(sm) {
          max-width: 15px;
        }
      }
    }

    &--clock {
      svg {
        max-width: 14px;

        @include media-breakpoint-up(sm) {
          max-width: 16px;
        }
      }
    }

    @include media-breakpoint-up(sm) {
      width: 24px;
      height: 24px;

      top: 0;
    }
  }

  &__item-days {
    &:not(:last-child) {
      padding-right: 3px;
    }
  }
}

.article-title {
  &__highlighted {
    background-color: rgba(29, 158, 116, 0.24);
  }
}

.article-title__link,
.article-title {
  font-size: 16px;
  letter-spacing: 0.02em;

  @include media-breakpoint-up(sm) {
    font-size: 20px;
    line-height: 1.3;
  }
}

.article-featured {
  &__image {
    margin-bottom: 0;
  }
}

.meta-taxonomy {
  display: flex;
  flex-flow: row wrap;

  padding-left: 0;
  margin-bottom: 0;

  font-size: 0;
  line-height: 1;
  list-style: none;
  &__item:not(:last-child) {
    margin-right: 10px;
  }
}

.meta-comments {
  display: flex;
  align-items: center;

  margin-left: 24px;
  &__icon {
    display: flex;

    margin-right: 8px;
  }

  &__count {
    display: flex;

    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.06em;

    color: $grey-200;
  }
}

.date-separator {
  display: inline-block;

  margin-bottom: 30px;

  color: $green;
}

.meta-author {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.07em;
  text-transform: capitalize;
  color: $grey-200;
}

.meta-type {
  margin-bottom: 10px;

  font-weight: 600;
  font-size: 11px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $green;
}
