.crowdfunding-progress {
  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__bar {
    height: 10px;

    position: relative;

    background: transparentize($green, 0.8);

    span {
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;

      background-color: $green;
    }
  }
}

.crowdfunding-stats {
  padding-left: 0;
  margin-top: 30px;
  margin-bottom: 35px;

  @include media-breakpoint-down(sm) {
    display: flex;
    justify-content: space-between;

    margin-top: 24px;
    margin-bottom: 24px;
  }

  &__item:not(:last-child) {
    margin-bottom: 24px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 0;
    }
  }

  &__title {
    margin-bottom: 2px;

    font-family: $font-family-titles;
    font-weight: 600;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #606664;
  }
  &__value {
    font-family: $font-family-titles;

    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.04em;

    @include media-breakpoint-down(sm) {
      font-size: 18px;
      line-height: 22px;
    }
  }
}

.crowdfunding-actions {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  &__item {
    text-align: center;

    transition: all 0.2s;

    &:not(:last-child) {
      margin-bottom: 10px;
      @include media-breakpoint-down(sm) {
        margin-bottom: 8px;
      }
    }

    button {
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;

      font-family: $font-family-titles;

      font-weight: 600;
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 0.02em;
      text-transform: capitalize;
    }
  }

  &__support {
    background: $green;
    border: 1px solid transparent;

    color: $white;

    &:hover {
      border: 1px solid $green;

      background-color: $white;

      color: $green;
    }
  }

  &__share {
    border: 1px solid $green;

    color: $green;

    &:hover {
      background-color: $green;
      border: 1px solid transparent;

      color: $white;
    }
  }
}

.crowdfunding-donation {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background-color: transparentize(#000, 0.4);

  z-index: 1000;

  &__wrapper {
    max-width: 504px;
    width: 100%;

    padding: 40px;

    position: absolute;
    top: 20%;
    left: 50%;

    background-color: #fff;

    transform: translateX(-50%);
    overflow: auto;
  }

  &__title {
    display: flex;
    justify-content: space-between;

    margin-bottom: 32px;

    span {
      font-family: $font-family-titles;

      font-weight: 600;
      font-size: 24px;
      line-height: 16px;
      letter-spacing: 0.2px;
      color: #000000;
      text-transform: capitalize;
    }
  }

  &__close:hover {
    path {
      fill: $green;
    }
  }

  .donation__sum {
    margin-bottom: 32px;
  }

  &__input {
    input {
      max-width: 280px;

      border-bottom: 1px solid #b0b0b0;

      font-family: $font-family-titles;

      font-weight: 500;
      font-size: 16px;
      line-height: 32px;

      &::placeholder {
        font-weight: 500;
        font-size: 16px;
        line-height: 32px;
        color: #b0b0b0;
      }
    }
  }

  &__photo {
    margin-bottom: 54px;

    input[type='file']::-webkit-file-upload-button {
      border: 1px solid #aaaaaa;
      border-radius: 4px;

      background-color: transparent;

      cursor: pointer;
    }

    label {
      font-family: $font-family-titles;
      font-style: italic;

      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      color: #b0b0b0;

      text-transform: capitalize;
    }
  }

  .donation__name {
    margin-bottom: 32px;

    label {
      font-family: $font-family-titles;
      font-style: italic;

      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      color: #b0b0b0;

      text-transform: capitalize;
    }
  }

  &__donate {
    padding: 10px 26px;

    background-color: $green;

    font-family: $font-family-titles;

    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #ffffff;
    &:disabled {
      background: #f1f1f1;

      color: #b0b0b0;
    }
  }
}

.crowdfunding-supported {
  padding-left: 0;
  padding-top: 50px;
  margin-top: 0;

  @include media-breakpoint-down(md) {
    display: flex;
    justify-content: center;

    max-height: 220px;
    margin-bottom: 0;

    text-align: center;

    overflow: hidden;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;

    padding-top: 23px;
    height: 350px;

    text-align: start;

    overflow: scroll;
  }

  &__item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 20px;

      @include media-breakpoint-down(md) {
        margin-right: 20px;
      }
      @include media-breakpoint-down(sm) {
        margin-right: 0;
      }
    }

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }

    @include media-breakpoint-down(sm) {
      flex-direction: row;
    }
  }

  &__photo {
    margin-right: 16px;
    width: 44px;
    height: 44px;
    object-fit: cover;

    border-radius: 50%;

    @include media-breakpoint-down(md) {
      margin-bottom: 10px;
      margin-right: 0;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 0;
      margin-right: 16px;
    }
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 16px;
    width: 44px;
    height: 44px;

    background: linear-gradient(
      0deg,
      rgba(29, 158, 116, 0.08),
      rgba(29, 158, 116, 0.08)
    );
    border-radius: 50%;

    @include media-breakpoint-down(md) {
      margin-bottom: 10px;
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: 0;
    }
  }

  &__name {
    font-family: $font-family-titles;

    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    @include media-breakpoint-up(lg) {
      margin-bottom: 5px;
    }
  }

  &__date {
    font-family: $font-family-titles;

    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.07em;
    text-transform: capitalize;
    color: #8a9994;
  }
}

.crowdfunding-share {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background-color: transparentize(#000, 0.4);

  z-index: 1000;

  &__wrapper {
    max-width: 504px;
    width: 100%;

    padding: 40px;

    position: absolute;
    top: 20%;
    left: 50%;

    background-color: #fff;

    transform: translateX(-50%);
    overflow: auto;
  }

  &__title {
    display: flex;
    justify-content: space-between;

    margin-bottom: 32px;

    span {
      font-family: $font-family-titles;

      font-weight: 600;
      font-size: 24px;
      line-height: 16px;
      letter-spacing: 0.2px;
      color: #000000;
      text-transform: capitalize;
    }
  }

  &__close:hover {
    path {
      fill: $green;
    }
  }

  &__socials {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 40px;
    margin-bottom: 37px;
  }

  &__item > a {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    span:last-child {
      margin-top: 11px;
    }

    .social-icon {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 24px;
      height: 24px;
    }

    &:hover .svg-icon {
      color: $green;
    }
    &:hover {
      color: $green;
    }
  }

  &__share {
    display: flex;
  }

  &__link {
    max-width: 280px;
    margin-right: 24px;

    border-bottom: 1px solid #eff0f4;

    font-family: $font-family-titles;

    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: #b0b0b0;
  }

  &__copy {
    padding: 10px 24px;

    background-color: $green;

    font-family: $font-family-titles;

    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: $white;

    cursor: pointer;
  }
}
