.blogs-page {
  padding: 50px 0;

  &__popular {
    margin-bottom: 80px;

    &--loading {
      display: flex;

      width: 100%;

      & > div {
        width: 16.6666667%;

        & + div {
          margin-left: 10px;
        }
      }
    }
  }
}
