.cat-page {
  &__title {
    margin-bottom: 45px;

    span {
      &::before {
        content: '!';
      }
    }

    @include media-breakpoint-down(sm) {
      justify-content: space-between;
    }
  }

  &__back {
    margin-left: 34px;

    opacity: 0.24;

    transition: opacity 0.3s ease-in-out;

    &:focus,
    &:hover {
      opacity: 1;
    }

    @include media-breakpoint-down(sm) {
      svg {
        width: 13px;
        height: 13px;
      }
    }
  }
}

.video-cat-gall {
  .pswp-thumbnail {
    padding-top: 25px;
    margin-bottom: 25px;

    @include media-breakpoint-down(sm) {
      padding-top: 12px;
      margin-bottom: 12px;
    }
  }
}
