.cat-list {
  margin-bottom: 40px;
  margin-left: -5px;
  margin-right: -5px;

  &__button {
    padding: 5px 10px;

    background-color: $green;

    text-transform: uppercase;
    font-size: 10px;

    transition:
      color 0.3s ease-in-out,
      background-color 0.3s ease-in-out;

    &:focus,
    &:hover,
    &--active {
      background-color: $white;
      
      color: $black;
    }
  }

  &__item {
    padding: 5px;
    
    line-height: 1;
  }
}

.video-cat-gall {
  .pswp-thumbnail {
    padding-top: 25px;
    margin-bottom: 25px;

    @include media-breakpoint-down(sm) {
      padding-top: 12px;
      margin-bottom: 12px;
    }
  }
}