.crowdfundings-page {
  main {
    padding: 0 60px;

    .cf-crowdfundings {
      /*
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
       */

      & > div {
        /* width: 30%; */
        /* height: 30rem; */
      }

      .cfitem {
        padding:0;
        margin-bottom: 24px;

        border: 1px solid #D8D8D8;
        box-sizing: border-box;

        overflow: hidden;

        .cfitem__thumb {
          position: relative;

          img {
            width: 100%;
            height: 14rem;
            object-fit: cover;
          }

          .cfitem__thumb__status {
            padding: 5px 10px;

            position: absolute;
            top: 29px;
            left: 23px;

            background-color: #FFFFFF;

            font-style: normal;

            font-weight: bold;
            font-size: 12px;
            line-height: 15px;

            text-transform: uppercase;
          }
        }

        .cfitem__container {
          padding: 27px 21px 27px 22px;

          .cfitem__title {
            a {
              color: #000000;

              font-style: normal;

              font-weight: 600;
              font-size: 18px;
              line-height: 22px;
            }
          }

          .cfitem__descr, .cfitem__collected__percent {
            padding-top: 15px;

            font-style: normal;

            font-weight: normal;
            font-size: 14px;
            line-height: 22px;

            color: #2E2E2E;

            p {
              padding:0;
              margin:0;
            }
          }

          .cfitem__collected {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;

            margin-top: 40px;

            .cfitem__collected__amount {
              font-size: 12px;

              > span:first-child {
                font-style: normal;

                margin-right: 10px;

                font-weight: bold;
                font-size: 16px;
                line-height: 22px;
                color: #1D9E74;
              }
            }
          }

          .cfitem__collected__left {
            font-style: normal;

            margin-top: 12px;

            font-weight: normal;
            font-size: 12px;
            line-height: 22px;
          }
        }
      }

    }

    /* CF Navigation */
    .cf-navigation {
      list-style: none;

      ul {
        margin: 0;
        padding: 0;
      }

      > .cf-navigation__list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        list-style: none;

        padding-top: 12px;
        padding-bottom: 14px;

        > li {
          margin-right: 30px;
          font-style: normal;

          font-weight: normal;
          font-size: 16px;
          line-height: 22px;

          > button {
            background: none;

            border: none;

            font-family: "Montserrat", sans-serif;
            font-style: normal;

            font-weight: normal;
            font-size: 16px;
            line-height: 22px;


          }
        }
      }
    }
  }
}

.crowdfunding-single-page {
  main {
    padding: 43px 80px;

    .cf-crowdfunding {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;

      .cf-content {
        width: 70%;
        padding-right: 79px;

        .cfsingle__thumb {
          >img {
            width: 100%;
            height: 14rem;
            object-fit: cover;
          }

          padding-bottom: 42px;
        }

        .cfsingle__title {
          padding: 43px 0 29px 0;

          font-family: sans-serif;
          font-style: normal;

          font-weight: bold;
          font-size: 36px;
          line-height: 44px;
        }
      }

      .cf-sidebar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        /* align-items: flex-start; */
        align-items: center;

        width: 30%;

        .cfsingle__collected {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: stretch;

          margin-top: 40px;

          .cfsingle__collected__amount {
            font-size: 20px;
          }

        }

        .cf-sidebar__info {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: flex-start;

          font-style: normal;

          font-weight: normal;
          font-size: 14px;
          line-height: 150%;
        }

        .cf-sidebar__btn {
          padding: 22px 0 22px 0;
          width: 100%;

          margin: 18px 0;

          background: #ECECEC;

          text-align: center;

          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 150%;
        }
      }
    }
  }
}

