.event {
  padding-top: 50px;

  &__title-wrapper {
    padding-top: 69px;
  }
  &__background {
    height: 650px;
    max-width: 1320px;
    width: 100%;

    background-color: rgba(29, 158, 116, 0.2);
  }
  &__content {
    margin: 0 auto;
    max-width: 648px;
    &-main {
      font-family: $font-family-titles;
    }
  }
  &__date {
    display: flex;
    flex-direction: column;

    margin-bottom: 12px;

    font-family: $font-family-titles;
  }
  &__day {
    display: inline-block;

    padding-bottom: 6px;

    font-weight: 700;
    font-size: 31px;
    line-height: 36px;
    text-transform: uppercase;
  }
  &__month {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
  }
  &__time {
    display: inline-flex;
    align-items: center;

    padding: 0 8px;
    margin-bottom: 41px;

    background-color: $black;

    font-family: $font-family-titles;

    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: $white;
  }
  &__title {
    margin-bottom: 20px;

    text-transform: capitalize;
  }
  &__excerpt {
    max-width: 424px;

    font-weight: 500;
  }
  &__excerpt > p {
    margin-bottom: 24px;

    font-family: $font-family-titles;

    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
  }
  &__location {
    display: flex;
    align-items: center;

    font-family: $font-family-titles;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.06em;
    .location {
      display: flex;
      justify-content: center;
      align-items: center;

      margin-right: 13px;
      height: 24px;
      width: 24px;
    }
  }
  &__content-wrapper {
    padding-top: 59px;
  }
  &__information {
    position: fixed;
    right: 0;
  }

}
