.event {
  padding-top: 50px;

  &__hero {
    background-color: rgba(29, 158, 116, 0.2);

    .meta-date-group {
      padding: 5px;
    }
  }

  &__hero-overlay {
    display: flex;

    height: 100%;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54));
  }

  &__hero-inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    padding-top: 64px;
    padding-bottom: 95px;
    max-width: 1124px;
  }

  &__content {
    margin: 0 auto;
    max-width: 648px;
  }

  &__content-main {
    font-family: $font-family-titles;
  }

  &__title {
    margin-bottom: 20px;

    text-transform: capitalize;
  }
  &__excerpt {
    max-width: 424px;

    font-weight: 500;
  }
  &__excerpt > p {
    margin-bottom: 24px;

    font-family: $font-family-titles;

    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
  }
  &__location {
    display: flex;
    align-items: center;

    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.06em;

    .social-icon {
      display: flex;
      justify-content: center;
      align-items: center;

      margin-right: 13px;
      height: 24px;
      width: 24px;
    }

    svg {
      path {
        fill: white;
      }
    }
  }
  &__content-wrapper {
    padding-top: 50px;
  }
  &__info-card {
    width: 100%;
    max-width: 320px;
  }

  .info-card__date {
    display: none;
  }
  &__sticky-sidebar {
    opacity: 0;
    transition: all 0.3s;
    .info-card__date {
      display: block;
    }
  }

  .sidebar-active {
    opacity: 1;
  }
}

// @media screen and (max-width: 1200px) {
//   .event {
//     &__main-wrapper {
//       display: flex;
//       flex-direction: column;
//     }
//     &__content-wrapper {
//       display: flex;
//       order: 2;
//     }
//     &__sticky-wrapper {
//       display: flex;
//       order: 1;

//       max-width: 100% !important;

//       top: 0 !important;
//       position: relative !important;
//     }
//     .event__sticky-sidebar {
//       display: flex;

//       opacity: 1;
//     }
//     &__info-card {
//       max-width: 100%;
//     }
//     &__info-card:not(:first-child) {
//       display: none;
//     }
//   }

//   .event__sticky-sidebar .info-card__date {
//     display: none;
//   }
// }

// @media screen and (max-width: 720px) {
//   .event {
//     &__info-card {
//       padding-top: 20px;
//     }
//   }
// }
// @media screen and (max-width: 500px) {
//   .event {
//     padding-top: 0;
//     &__wrapper {
//       margin-right: -20px;
//       margin-left: -20px;
//     }
//     &__background {
//       height: fit-content;
//     }
//     &__title-wrapper {
//       padding: 30px 20px;
//     }
//     &__title {
//       font-size: 24px;
//       line-height: 31px;
//       letter-spacing: -0.01em;
//     }
//     &__excerpt {
//       font-size: 16px;
//       line-height: 26px;
//       letter-spacing: 0.03em;
//     }

//     &__content-wrapper {
//       padding-top: 24px;
//     }

//   }
// }
