.single-post {
  padding-top: 118px;
  &__title {
    display: flex;

    margin-left: auto;
    &-wrapper {
      margin-left: auto;
    }
    &-title {
      display: flex;
      flex-direction: column;
    }
  }

  &__main {
    display: flex;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 872px;
  }
  &__content > *:nth-last-child(2) {
    margin-bottom: 80px;
  }
  &__footer {
    max-width: 648px;
    width: 100%;

    padding-top: 32px;

    border-top: 1px solid #efefef;
  }
}
.side-bar__wrapper {
  display: flex;
  justify-content: center;

  height: 300px;
  &:first-child {
    height: 175px;
  }
}
.title__description > p {
  margin-bottom: 37px;
}
.title__socials {
  display: flex;
  align-items: center;

  padding-bottom: 48px;
  &-about {
    display: flex;
  }
  &-image {
    width: 40px;
    height: 40px;

    margin-right: 8px;

    background-color: black;

    border-radius: 40px;
  }
  &-author {
    display: flex;
    flex-direction: column;

    margin-left: 8px;
  }
  &-name {
    padding-bottom: 6px;

    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
  }
  &-date {
    color: #8a9994;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.07em;
    text-transform: capitalize;
  }
  &-items {
    display: flex;

    margin-left: auto;
    & > a {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 24px;
      width: 24px;
    }
    & > a:not(:first-child) {
      margin-left: 15px;
    }
    & > a:not(:last-child) {
      margin-right: 15px;
    }
  }
}
.content__posts {
  max-width: 648px;
}
.feature__image {
  width: 100%;

  margin-left: auto;
  img {
    width: 100%;
  }
  &-caption {
    display: flex;

    padding-top: 6px;
  }
  &-author {
    padding-right: 2px;

    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #606664;
  }
  &-description {
    padding-left: 2px;

    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #8a9994;
  }
}
.footer__comments {
  display: flex;

  align-items: center;

  padding-bottom: 40px;

  &-share {
    display: flex;
    .like {
      width: 48px;
      height: 48px;

      margin-right: 15px;
    }
    .title__socials-items {
      display: flex;
      align-items: center;

      margin-left: 15px;
    }
    margin-left: auto;
  }
}
.share {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  &-wrapper {
    height: 44px;
    width: 44px;
  }
  &-wrapper:not(:last-child) {
    margin-bottom: 37px;
  }
  &-wrapper:not(:first-child) {
    margin-top: 37px;
  }
  .like:before {
    content: '';

    width: 44px;

    position: absolute;
    top: -37px;

    border-top: 1px solid grey;
  }
}
.svg-icon:hover {
  color: #1d9e74;
}
.latest {
  height: 300px;

  overflow: scroll;

  &__news {
    height: inherit;

    padding-left: 0;
  }

  & li {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 1200px) {
  .single-post__title {
    margin-left: -12px;
  }
  .side-bar__wrapper {
    display: none;
  }
  .single-post__main {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .single-post {
    padding-top: 88px;
  }
  .category-tag__list {
    flex-wrap: wrap;

    margin-bottom: 0;
  }
  .tag {
    padding: 0;
  }
  .category-tag__list > li {
    margin-bottom: 10px;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .title {
    &__title {
      margin-bottom: 8px;

      font-weight: bold;
      font-size: 24px;
      line-height: 31px;
      letter-spacing: -0.01em;
      text-transform: capitalize;
    }
    &__description > p {
      margin-bottom: 20px;

      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.03em;
    }
    &__socials {
      padding-bottom: 20px;
      &-name {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.05em;
      }
      &-date {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.07em;
      }
    }
  }
  .feature__image {
    margin-left: 0;
    margin-bottom: 20px;
    &-caption {
      padding-bottom: 0;
    }
    &-description > p {
      margin-bottom: 0;
    }
  }
  .footer__comments {
    flex-direction: column;
    &-share {
      margin: 0 auto;
    }
  }
  .comments-button {
    width: 100%;

    margin-top: 20px;
    margin-bottom: 24px;
  }
  .wp-block-buttons {
    width: 100%;

    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .title__socials-items > a:nth-child(2) {
    display: none;
  }

  .footer__comments-share {
    .title__socials-items > a:nth-child(2) {
      display: block;
    }
  }
}
