.single-post {
  padding-top: 118px;
  &__title {
    display: flex;
    &-wrapper {
      margin-left: auto;

      .meta-taxonomy {
        margin-bottom: 8px;
      }
    }
    &-title {
      display: flex;
      flex-direction: column;
    }
  }
  &__main {
    display: flex;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 auto;
  }
  &__content > *:nth-last-child(2) {
    margin-bottom: 80px;
  }
  &__footer {
    max-width: 648px;
    width: 100%;

    padding-top: 32px;

    border-top: 1px solid #efefef;

    .meta-taxonomy {
      margin-bottom: 22px;
    }
  }
}
.title__description {
  max-width: 648px;

  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0.03em;
  & > p {
    margin-bottom: 37px;
  }
}
.title__socials {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-bottom: 48px;
  max-width: 648px;
  width: 100%;
  &-about {
    display: flex;
  }
  &-image.avatar {
    width: 44px;
    height: 44px;

    margin-right: 8px;
    padding: 0;

    border: none;

  }
  &-author {
    display: flex;
    flex-direction: column;

    margin-left: 8px;
  }
  &-name.meta-author {
    padding-bottom: 6px;

    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
  }
  &-date {
    color: #8a9994;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.07em;
    text-transform: capitalize;
  }
  &-items {
    display: flex;

    margin-left: auto;
    & > a {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 24px;
      width: 24px;
    }
    & > a:not(:first-child) {
      margin-left: 15px;
    }
    & > a:not(:last-child) {
      margin-right: 15px;
    }
  }
}
.content__posts {
  max-width: 648px;
}
.feature__image {
  width: 100%;

  margin-left: auto;
  img {
    width: 100%;
  }
  &-caption {
    display: flex;

    padding-top: 6px;
  }
  &-author {
    padding-right: 2px;

    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #606664;
  }
  &-description {
    padding-left: 2px;

    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #8a9994;
  }
}

.svg-icon:hover {
  color: #1d9e74;
}
.side-bar__wrapper {
  display: flex;
  justify-content: center;

  height: 200px;
}

@media screen and (max-width: 1200px) {
  .feature__image {
    margin: 0 auto;
    padding: 0;
  }
  .single-post__title {
    margin-left: -12px;
    &-wrapper {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
    }
  }
  .single-post__wrapper {
    flex: 0 0 100%;

    max-width: 100%;
  }

  .single-post__main {
    justify-content: center;
    flex: 0 0 100%;

    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .single-post {
    padding-top: 88px;
  }
  .content__posts {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
  }
  .content__posts.gutenberg__youtube {
    width: 100%;
  }
  h2.content__posts {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.03em;
  }
  .category-tag__list {
    flex-wrap: wrap;

    margin-bottom: 0;
  }
  .tag {
    padding: 0;
  }
  .category-tag__list > li {
    margin-bottom: 10px;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .title {
    &__title {
      margin-bottom: 8px;

      font-weight: 700;
      font-size: 24px;
      line-height: 31px;
      letter-spacing: -0.01em;
      text-transform: capitalize;
    }
    &__description > p {
      margin-bottom: 20px;

      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.03em;
    }
    &__socials {
      padding-bottom: 20px;
      &-name {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.05em;
      }
      &-date {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.07em;
      }
    }
  }
  .feature__image {
    margin-top: 8px;
    margin-bottom: 20px;

    &-caption {
      padding-bottom: 0;
    }
    &-description > p {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 500px) {
  .title__socials-items > a:nth-child(2) {
    display: none;
  }
}
