.search-form {
  margin-bottom: 30px;
  padding-bottom: 10px;

  border-bottom: 1px solid $grey-100;

  &__button {
    background-color: transparent;
    border: none;

    color: $grey-200;

    cursor: pointer;
    transition: color 0.3s ease-in;

    &:hover,
    &:focus {
      color: $green;
    }
  }
  
  &__field {
    padding-bottom: 8px;
    margin-bottom: 22px;

    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid $grey-100;
    outline: none;

    font-size: 32px;
  }

  &__field-wrapper {
    max-width: 872px;
  }

  &__col {
    margin-left: #{$grid-columns}px;
    margin-right: #{$grid-columns}px;

    font-family: $font-family-titles;

    &--select {
      min-width: 211px;
    }
  }

  &__row {
    display: flex;
    align-items: center;

    margin-left: -#{$grid-columns}px;
    margin-right: -#{$grid-columns}px;
  }

  &__radio {
    height: 0;
    width: 0;

    cursor: pointer;

    opacity: 0;

    &:checked + label {
      font-weight: 700;
    }
  }

  &__label {
    margin-bottom: 0;
  }
}

.react-select {
  &__clear-indicator ~ &__dropdown-indicator {
    display: none;
  }

  &__menu {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  }

  &__indicator {
    line-height: 1;
  }

  &__control {
    box-shadow: none !important;

    &--menu-is-open {
      box-shadow: 0px 0 6px white, 0px 0px 6px rgba(0, 0, 0, 0.25) !important;

      .react-select__dropdown-indicator {
        transform: rotate(180deg)
      }
    }
  }
}