.search-form {
  margin-bottom: 30px;
  padding-bottom: 10px;

  border-bottom: 1px solid $grey-100;
  
  &__field {
    max-width: 872px;
    padding-bottom: 8px;
    margin-bottom: 22px;

    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid $grey-100;
    outline: none;

    font-size: 32px;
  }

  &__col {
    margin-left: #{$grid-columns}px;
    margin-right: #{$grid-columns}px;

    font-family: $font-family-titles;

    &--select {
      min-width: 211px;
    }
  }

  &__row {
    display: flex;
    align-items: center;

    margin-left: -#{$grid-columns}px;
    margin-right: -#{$grid-columns}px;
  }
}

.react-select {
  &__clear-indicator ~ &__dropdown-indicator {
    display: none;
  }

  &__menu {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  }

  &__indicator {
    line-height: 1;
  }

  &__control {
    box-shadow: none !important;

    &--menu-is-open {
      box-shadow: 0px 0 6px white, 0px 0px 6px rgba(0, 0, 0, 0.25) !important;

      .react-select__dropdown-indicator {
        transform: rotate(180deg)
      }
    }
  }
}