.crowdfunding-terms-of-use,
.terms-of-use,
.about {
  max-width: 872px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 80px;
  @include media-breakpoint-down(sm) {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .gutenberg__image-expand {
    display: none;
  }
  .gutenberg__image {
    cursor: default;
  }

  .title {
    margin-bottom: 20px;

    font-size: 24px;
    @include media-breakpoint-down(sm) {
      margin-bottom: 0;

      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.03em;
    }
  }

  & > *:last-child {
    padding-bottom: 0;
  }

  p {
    font-family: $font-family-titles;
  }

  ol {
    font-family: $font-family-titles;
  }
}

.terms-of-use {
  .gutenberg__ordered-list {
    padding-left: 20px;
  }
}

.about {
  &-page {
    position: relative;

    .gutenberg__image-expand {
      display: none;
    }

    .title {
      margin-bottom: 0;

      position: absolute;
      top: 50%;
      left: 50%;

      font-family: $font-family-titles;
      font-weight: 700;
      font-size: 64px;
      line-height: 1.29;
      letter-spacing: -0.01em;
      text-transform: capitalize;
      color: $white;

      transform: translate(-50%, -50%);
      @include media-breakpoint-down(sm) {
        font-size: 30px;
      }
    }

    .feature__image {
      margin-bottom: 0;
      margin-top: 0;
      @include media-breakpoint-down(sm) {
        max-height: 210px;
      }

      img {
        height: 100%;
        width: auto;
        object-fit: cover;
      }
    }
  }

  .gutenberg__columns {
    padding-top: 70px;
    @include media-breakpoint-down(md) {
      padding-top: 20px;
    }
  }

  .gutenberg__columns:first-child {
    padding-top: 40px;
  }

  .gutenberg__columns-column:last-child {
    @include media-breakpoint-down(md) {
      padding-bottom: 0;
    }
  }

  .gutenberg__columns-column:not(:last-child) {
    @include media-breakpoint-down(md) {
      padding-bottom: 24px;
    }
  }

  .gutenberg__image {
    padding-bottom: 23px;
  }

  .gutenberg__image + div {
    padding-bottom: 10px;

    font-family: $font-family-titles;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }

  .gutenberg__columns-column > *:first-child {
    padding-bottom: 10px;

    font-family: $font-family-titles;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }

  .gutenberg__columns-column > *:last-child {
    font-family: $font-family-titles;

    font-size: 16px;
    line-height: 20px;
  }
}

.feedback {
  &__outer {
    display: flex;

    margin: 0 auto;
    max-width: 1096px;
    padding-top: 80px;
    padding-bottom: 80px;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
    @include media-breakpoint-down(sm) {
      padding-top: 36px;
      padding-bottom: 36px;
    }
  }

  &__inner-map {
    width: 100%;
    max-width: 424px;
    margin-left: auto;
    @include media-breakpoint-down(md) {
      margin-right: auto;
    }

    .info-card__item {
      text-transform: none;
    }

    .info-card__wrapper {
      padding: 0;
    }

    .info-card__map {
      height: 305px;
    }

    @include media-breakpoint-down(sm) {
      .info-card__info-wrapper > .info-card__contact:not(:last-child) {
        padding-bottom: 10px;
      }
      .info-card__info-wrapper > .info-card__contact {
        padding-top: 10px;
      }
      .info-card__info-wrapper > .info-card__social {
        padding-top: 20px;
        padding-bottom: 0;
      }
    }
  }

  &__inner-form {
    width: 100%;
    max-width: 536px;

    @include media-breakpoint-down(md) {
      margin: 0 auto;
      padding-bottom: 20px;
    }
    @include media-breakpoint-down(sm) {
      .zm-form__title {
        display: none;
      }
    }
  }
}
