.videos-page {
  background-color: $black;
  
  color: $white;
}

.video-detail {
  &__iframe {
    min-height: 500px;
  }

  &__cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    cursor: pointer;

    svg {
      width: 42px;
      height: 48px;

      position: absolute;
      left: 25px;
      bottom: 22px;
    }
  }
}