.videos-page {
  background-color: $black;
  
  color: $white;
}

.videos-list {
  max-height: 500px;

  overflow: auto;
}

.video-detail {
  &__duration {
    margin-bottom: 3px;
    margin-top: 14px;
  }

  &__title {
    margin-bottom: 40px;

    font-size: 20px;
  }

  &__iframe {
    min-height: 500px;
  }

  &__cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    cursor: pointer;

    svg {
      width: 42px;
      height: 48px;

      position: absolute;
      left: 25px;
      bottom: 22px;
    }
  }
}

.videos-main {
  padding-top: 80px;
}