form,
.zm-form {
  display: block;
}

textarea {
  resize: none;
}

textarea,
input {
  display: block;

  width: 100%;

  border: 0;
  box-shadow: none;

  &:hover,
  &:focus {
    outline: none;
  }

  &::placeholder {
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
  }
}

.zm-form {
  &--event {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;

    @include media-breakpoint-up(sm) {
      margin-bottom: 65px;

      max-width: 264px;
    }
  }

  &__title {
    margin-bottom: 31px;

    color: $green;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    @include media-breakpoint-up(sm) {
      font-size: 33px;
    }
  }

  &__icon {
    top: 50%;
    right: 6px;
    position: absolute;

    transform: translateY(-50%);

    cursor: pointer;

    &--date {
      transform: translateY(-60%);
    }
  }

  &-field {
    display: block;

    margin-bottom: 30px;

    position: relative;

    &__placeholder {
      position: absolute;
      top: 4px;
      left: 0;

      font-weight: 500;
      font-size: 16px;
      line-height: 32px;
      color: #b0b0b0;

      transition: 0.3s all;
    }

    &__required {
      position: absolute;
      top: 0;
      right: -14px;

      color: red;
    }

    &--invalid {
      letter-spacing: 0.05em;
      color: #eb5757;

      .zm-form__input,
      .zm-form__textarea {
        border-bottom: 2px solid #eb5757;
      }

      .zm-form-field__placeholder {
        letter-spacing: 0.05em;
        color: #eb5757;
      }
    }

    &--focused,
    &--filled {
      .zm-form-field__placeholder {
        top: -12px;

        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.05em;
        color: #b0b0b0;
      }

      .zm-form__input,
      .zm-form__textarea {
        border-bottom: 1px solid $grey-400;
      }
    }
  }

  &__textarea {
    height: 91px;
    @include media-breakpoint-up(sm) {
      height: 72px;
    }
  }

  .react-datepicker {
    &-wrapper {
      display: block;

      width: 100%;
    }

    &__input-container {
      height: 29px;

      line-height: 29px;
    }
  }

  &__textarea,
  &__input {
    padding: 2px 0 3px;

    // TODO: move border to :before/:after
    border-bottom: 1px solid $grey-200;

    color: $black;
    font-size: 16px;
    line-height: 32px;
  }

  &__submit {
    width: 100%;

    color: $green;

    &--sent {
      color: $green !important;
    }
  }
}
