$black: #242424;

$green: #1d9e74;

$white: #fff;

$grey-100: #eff0f4;
$grey-200: #b0b0b0;
$grey-300: #8a9994;
$grey-400: #606664;
$grey-500: #666666;
$grey-600: #2b3330;
$grey-700: #2b2b2b;

$disabled: #d6d6d6;
$disabled-2: #f1f1f1;
$disabled-3: #c7c7c7;

$vivid-red: #f70d1a;
$pale-pink: #ffc0cb;
$luminous-vivid-orange: #ff8000;
$luminous-vivid-amber: #ffbf00;
$light-green-cyan: #70deb9;
$vivid-green-cyan: #33cc80;
$pale-cyan-blue: #b3e2fc;
$vivid-cyan-blue: #488fe3;
$vivid-purple: #9634d4;
$very-light-gray: #cfcece;
$cyan-bluish-gray: #a9b1be;
$very-dark-gray: #2f2f2f;
$subtle-pale-blue: #add8e6;
$subtle-pale-green: #82c89c;
$subtle-pale-pink: #fadadd;
