.gutenberg__paragraph {
  & > a {
    color: #1d9e74;
  }
}

.gutenberg__image {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
  .expand-image {
    display: block;

    position: absolute;
    bottom: 50px;
    right: 50px;

    background-color: $black;
    border: none;
    border-radius: 50%;

    visibility: hidden;
    .svg-icon {
      color: $white;
    }
  }
}
.gutenberg__image:hover > .expand-image {
  visibility: visible;
}
