.gutenberg__cover {
  min-height: 200px;
  max-height: 700px;
  width: 872px;

  padding-bottom: 20px;
  padding-top: 20px;
  @media screen and (max-width: 1250px) {
    width: 100%;
    max-width: 648px;
  }

  &-content {
    display: flex;
    align-items: center;

    position: relative;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .content__inner {
    width: 100%;

    color: white;
  }

  &-overlay {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
  }
}
