.gutenberg__quote {
  padding-left: 36px;
  margin-bottom: 40px;

  border-left: 2px solid #666666;

  & > blockquote {
    line-height: 1.55;
    letter-spacing: 0.02em;
    font-style: italic;
    font-weight: bold;
  }
  .quote__citation {
    display: flex;
    align-items: center;

    font-family: $font-family-titles;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.2px;
  }
}
