.react-calendar {
  margin-bottom: 28px;

  button {
    background-color: transparent;
    border: none;
  }

  &__tile {
    &--active {
      background: rgba(29, 158, 116, 0.08);
      border-radius: 50%;

      outline: none;

      color: $green;
      &--active:focus {
        outline: none;
      }
      &--active:active {
        outline: none;
      }
    }
  }
  &__navigation {
    margin-bottom: 26px;
    &__label {
      font-family: $font-family-titles;

      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      letter-spacing: 0.1px;
      text-transform: capitalize;
    }
  }
}
.react-calendar__month-view__weekdays__weekday {
  margin-bottom: 14px;

  abbr {
    display: flex;
    justify-content: center;

    text-decoration: none;

    font-family: $font-family-titles;

    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
  }
}
.react-calendar__month-view__days {
  font-family: $font-family-titles;

  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.react-calendar__month-view__days__day {
  width: 60.56px;
  height: 60.56px;
  padding: 0;
  &:hover {
    background: rgba(29, 158, 116, 0.08);
    border-radius: 50%;

    color: $green;
  }
  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
  }
}
