.sorting {
  margin-bottom: 40px;
  padding: 0;

  font-size: 0;

  &__button {
    font-family: $font-family-titles;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;

    &::first-letter {
      text-transform: uppercase;
    }

    &:hover,
    &:focus {
      color: $green;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 24px;
    }
    &--active {
      .sorting__button {
        font-weight: 700;
      }
    }
  }
}
