.sorting {
  margin: 0 0 44px 0;
  padding: 0;

  list-style-type: none;

  &__button {
    display: flex;

    padding: 0;

    border: 0;
    box-shadow: none;
    border-radius: 0;
    background-color: transparent;

    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.02em;

    cursor: pointer;
    &:active {
      outline: none;
    }
    &:focus {
      outline: none;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
    &--active {
      .sorting__button {
        font-weight: 700;
      }
    }
  }
}
