.blogs-user {
  &__avatar {
    padding-bottom: 100%;

    &::before {
      content: '';

      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      background: linear-gradient(180deg, transparent, rgba(#2b2b2b, 0) 30%, rgba(#2b2b2b, 0.3) 70%, rgba(66, 65, 65, 1) 100%);

      transition: all 0.3s ease-in-out;
    }

    &:hover {
      &::before {
        background-color: rgba(29, 158, 116, 0.5);
      }
    }
  }

  &__wrapper {
    position: relative;
  }

  &__col {
    @include media-breakpoint-between(sm, lg) {
      @include last-grid-row(2) {
        margin-top: 24px;
      }
    }
  }

  &__col + &__col {
    @include media-breakpoint-down(xs) {
      margin-top: 24px;
    }
  }

  &__container {
    bottom: 52px;

    opacity: 1;
    transition: opacity 0.3s ease-in;
  }

  &__name {
    font-size: 18px;
  }
}

.user-pubs {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -35px;
}

.user-pub {
  & + & {
    border-top: 1px solid $grey-100;
  }

  &__title {
    padding: 15px 10px;

    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.2;
  }
}
