html,
body {
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}


a {
  color: inherit;
  text-decoration: none;
}

.list-unstyled {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;

  list-style-type: none;
}

.share-button {
  width: 50px;
  height: 50px;

  margin-bottom: 24px;

  background-color: transparent;
  border: 1px solid lightgray;
  border-radius: 50%;
}


.share-button:active, .share-button:focus{
  outline: none;
}
.share-button:hover {
  cursor: pointer;
}
.share-button:hover + .svg-icon {
  color: #1D9E74;

}
.like {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;

  position: relative;

  background-color: transparent;
  border: 1px solid lightgrey;
  border-radius: 50%;
}

.popup {
  display: flex;

  width: 100px;

  position: absolute;
  top: -30px;
  left: 30px;

  a {
    width: 100%;
    svg {
      height: 20px;
    }
  }
}



