.article {
  &--blog {
    @include media-breakpoint-down(md) {
      display: flex;
      justify-content: space-between;
    }
    .article__image {
      margin-bottom: 21px;
      @include media-breakpoint-down(md) {
        order: 3;

        max-width: 192px;
        margin-bottom: 0;
      }
    }

    .article__main {
      width: 100%;
      padding-left: 0;
      @include media-breakpoint-down(md) {
        order: 1;
      }
    }

    .meta-taxonomy {
      margin-bottom: 14px;
      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    .article-title {
      margin-bottom: 16px;

      font-size: 18px;
      font-weight: 600;
      line-height: 1.26;
    }

    .article-featured {
      @include media-breakpoint-down(sm) {
        width: 88px;
        height: 88px;
      }
      img {
        width: 100%;
        height: 100%;

        object-fit: cover;
      }

      &__image {
        width: 100%;
        height: 192px;
        @include media-breakpoint-down(md) {
          width: 192px;
        }
        @include media-breakpoint-down(sm) {
          width: 88px;
          height: 88px;
        }
      }

      &__link {
        display: block;
      }
    }
  }
}
