.article {
  &--opportunities {
    .article {
      &__image {
        @include media-breakpoint-up(sm) {
          max-width: 200px;
        }
      }
    }
    .article-title__link,
    .article-title {
      font-weight: 800;
    }
    .article-featured {
      &__image {
        height: 181px;
        @include media-breakpoint-up(sm) {
          height: 200px;
        }
      }
    }
  }
}
