header {
  display: flex;
  align-content: space-between;
  align-items: center;

  width: 100%;

  border-bottom: 1px solid #eaeaea;

  background-color: $black;

  color: $white;

  .logo {
    margin-left: 30px;

    width: 90px;
    height: 44px;
  }

  .navigation {
    ul {
      display: flex;

      margin: 0;
      padding: 0;

      list-style-type: none;

      li {
        display: flex;

        width: 100%;
        & + li {
          margin-left: 20px;
        }
      }
    }
  }

  .socials {
    display: flex;

    height: 100%;
  }

}
