body.isB-MenuOpen {
  overflow: hidden;
}
.header {
  padding-right: 20px;
  padding-left: 30px;

  width: 100%;

  position: absolute;
  top: 0;
  left: 0;

  background-color: $black;

  color: $white;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__menu {
    display: none;
  }
  &__logo {
    margin-right: 16px;

    max-width: 96px;
  }

  &__icons {
    display: flex;
    align-items: center;

    margin-left: auto;
    &-item:not(:last-child) {
      margin-right: 25px;
    }
  }
  &__search {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 25px;

    width: 32px;
    height: 32px;

    position: relative;

    border: none;
    box-shadow: none;
    border-radius: 0;
    background: none;

    cursor: pointer;
  }
  &__overlay {
    display: none;
  }
}
.header ~ div {
  padding-top: 68px;
}
.fixed-header {
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 25;

  transition: all 0.2s linear;
  &-hidden {
    opacity: 0;

    transition: all 0.2s linear;
  }

  &-pinned {
    transform: translateY(0%);
  }
  &-unpinned {
    transform: translateY(-100%);
  }
}
.navigation {
  display: flex;

  &__list {
    display: flex;
    justify-content: center;
    align-content: center;

    margin: auto;

    width: 100%;

    list-style-type: none;
    padding-inline-start: 0;

    font-weight: bold;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.07em;
    text-transform: uppercase;
  }

  &__link {
    display: block;

    padding: 25px 16px;
  }

  &__item {
    &--highlighted {
      display: flex;
      align-items: center;

      padding-right: 20px;
      padding-left: 20px;

      font-weight: bold;
      font-size: 10px;
      line-height: 1.2;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      .navigation__link {
        padding: 5px 10px;

        background-color: $green;
      }
    }
  }
}

.burger__navigation {
  display: none;
}
.header__burger-button {
  display: none;
}
.header__burger-category {
  display: none;
}
@media screen and (max-width: 1299px) {
  .header {
    padding-right: 20px;
    padding-left: 20px;
    &__overlay {
      display: flex;

      width: 100%;
      height: 100vh;

      position: fixed;
      left: 0;

      background-color: $black;

      transform: translateY(0);

      opacity: 0;
      transition: opacity 0.2s;

      z-index: 10;
    }
    &__burger-icon {
      width: 18px;
      height: 2px;

      position: relative;

      background-color: #fff;

      transition: all 0.2s ease-in;

      &:before {
        content: '';
        display: block;

        width: 18px;
        height: 2px;

        position: absolute;
        left: 0;
        top: -5px;

        background-color: #fff;

        transition: all 0.2s ease-in;
      }

      &:after {
        content: '';
        display: block;

        width: 18px;
        height: 2px;

        position: absolute;
        left: 0;
        top: 5px;

        background-color: #fff;

        transition: all 0.2s ease-in;
      }
    }
    &.isMenuOpen {
      .header__overlay {
        opacity: 1;
      }

      .header__burger-icon {
        background-color: transparent;
      }

      .header__burger-icon:before {
        top: 0;

        transition: all 0.2s ease-in;
        transform: rotate(45deg);
      }

      .header__burger-icon:after {
        top: 0;

        transition: all 0.2s ease-in;
        transform: rotate(-45deg);
      }
    }

    &__logo {
      margin-right: 0;
      width: 80px;
      height: 36.67px;
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;

      & > a {
        padding-top: 16px;
        padding-bottom: 15px;

        z-index: 25;
      }
    }

    &__burgermenu {
      display: flex;
      flex-direction: column;
      justify-content: center;

      margin-left: 64px;
    }

    &__icons {
      display: none;
    }

    &__social {
      padding-top: 16px;

      & > a {
        padding-right: 16px;
      }

      & > a:not(:first-child) {
        padding-left: 16px;
      }

      .svg-icon {
        color: $white;
      }
    }

    &__search {
      z-index: 30;
    }

    &__burger {
      &-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 32px;
        height: 32px;

        background-color: transparent;
        border: none;

        cursor: pointer;
        z-index: 25;
        -webkit-appearance: none;
      }

      &-line {
        display: block;

        height: 1px;
        width: 100%;

        background-color: #fff;
      }
    }
  }

  .navigation {
    display: none;

    &__list {
      flex-direction: column;

      & > li:first-child {
        display: flex;

        padding-left: 0;
        padding-top: 0;
      }

      &-link {
        padding: 16px 0 16px 0;
      }
    }
  }

  .burger__navigation {
    display: flex;

    padding-bottom: 21px;
  }

  .burger__icons {
    margin-left: 0;
    padding-bottom: 21px;

    &-item:not(:last-child) {
      margin-right: 34px;
    }
  }

  .footer__data-link > svg {
    width: 50px;
  }
}
@media screen and (max-width: 1299px) and (min-width: 768px) {
  .header {
    padding-right: 20px;
    padding-left: 30px;

    &__logo {
      margin-right: 18px;
    }

    &__burger-button {
      order: 3;

      padding-right: 18px;
      padding-left: 18px;
    }

    &__icons {
      display: flex;
      order: 4;

      margin-left: auto;

      z-index: 25;
    }

    &__search {
      order: 5;
    }

    &__wrapper > .header__burger-category {
      display: flex;
      order: 2;
      align-items: center;

      padding: 5px 10px;
      margin-left: 18px;
      margin-right: 18px;

      background-color: #1d9e74;

      font-weight: bold;
      font-size: 10px;
      line-height: 1.2;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }
  }
  .navigation__list > li:first-child {
    display: none;
  }
  .burger__icons {
    display: none;
  }
}
