.footer {
  background-color: $black;

  font-family: $font-family-titles;

  color: $white;

  &__navigation {
    padding-top: 64px;
    padding-bottom: 82px;

    &-logo {
      width: 110px;
      height: 60px;
    }
  }
  &__sitemap {
    display: flex;
    justify-content: space-around;
    &-list {
      align-items: start;

      padding: 0;
      margin: 0;

      text-align: left;
      list-style: none;
    }
    &-link {
      font-size: 12px;
      line-height: 1.33;
    }
    &-link:first-child {
      padding-bottom: 6px;

      font-size: 14px;
      line-height: 1.6;
      font-weight: $font-weight-semibold;
      letter-spacing: 0.05em;
    }
    &-link:not(:first-child) {
      padding-top: 6px;
      padding-bottom: 6px;
    }
    &-link:nth-child(2) {
      span {
        display: flex;
      }
    }
    &-icons {
      display: flex;

      margin-right: 14px;
      .svg-icon {
        width: 12px;
      }
    }
  }

  &__data {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 39px;

    border-bottom: 1px solid $grey-400;
    &-socials {
      display: flex;
      justify-content: space-between;

      height: 100%;
    }
    &-icon {
      display: flex;

      width: 64px;
      height: 64px;
    }
    &-icon > .svg-icon {
      height: 100%;
      width: 100%;

      color: rgba(255, 255, 255, 0.24);
    }
  }

  &__developers {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 12px;
    line-height: 1.6;

    &-date {
      display: flex;
      align-items: center;
    }
    &-date > svg {
      width: 12px;
      height: 12px;
      margin-right: 2px;
    }
    &-wrapper {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      padding-top: 27px;
      padding-bottom: 27px;
    }
    &-description {
      margin-right: 58px;
    }
  }

  &__counters {
    display: flex;
    justify-content: flex-end;
    &-block {
      display: flex;
      flex-direction: column;

      margin-right: 48px;
    }
    &-counter {
      margin-bottom: 4px;

      color: rgba(255, 255, 255, 0.24);
      font-family: $font-family-secondary;
      font-size: 72px;
      line-height: 72px;
    }
    &-description {
      font-size: 12px;
      text-transform: lowercase;
    }
  }
}
