@import '../_site-variables.scss';
@import '../scss/variables';

footer {
  width: 100%;

  border-top: 1px solid #eaeaea;

  background-color: $black;

  font-family: $font-family-titles;
  font-size: 12px;
  line-height: 1.09;
  color: $white;

  ul {
    align-items: start;

    padding: 0;
    margin: 0;

    list-style: none;
  }

  img {
    margin-left: 0.5rem;
  }

  a {
    display: flex;
  }
  .footer__wrapper {
    width: 100%;

    padding-right: 60px;
    padding-left: 60px;
    .navigation__wrapper {
      width: 100%;

      margin-top: 64px;
      margin-bottom: 82px;

      .logo {
        width: 110px;
        height: 60px;

        background-color: $white;
      }
      .navigation__sitemap {
        display: flex;
        justify-content: space-around;

        .sitemap__list-item {
          margin-bottom: 12px;
        }
        .sitemap__list-item:nth-child(2) {
          span {
            display: flex;
          }
        }
        .social-icon > svg {
          margin-right: 14px;

          color: $white;
        }
        .sitemap__list {
          text-align: left;
          svg {
            width: 10px;
            height: 10px;
          }
          > .sitemap__list-item:first-child {
            font-size: 14px;
            line-height: 1.6;
            font-style: $font-weight-semibold;
          }
        }
      }
    }

    .data__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding-bottom: 39px;

      border-bottom: 1px solid $grey-400;
      .socials {
        display: flex;
        justify-content: space-between;

        height: 100%;

        .social-icon > svg {
          height: 64px;
          width: auto;

          color: rgba(255, 255, 255, 0.24);
        }
      }
      .counters {
        font-family: $font-family-secondary;
        &__wrapper {
          display: flex;
          justify-content: flex-start;
        }
        &__item {
          display: flex;
          flex-direction: column;

          margin-right: 48px;
          &-counter {
            margin-bottom: 4px;

            color: rgba(255, 255, 255, 0.24);
            font-family: $font-family-secondary;
            font-size: 72px;
            line-height: 72px;
          }
        }
      }
    }

    .developers {
      display: flex;
      align-items: center;
      justify-content: space-between;

      font-size: 12px;
      line-height: 1.6;
      .fa-copyright {
        width: 12px;
        height: 12px;
        margin-right: 2px;
      }

      &__copyrights-logo {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        padding-top: 27px;
        padding-bottom: 27px;
        .copyrights-logo__description {
          padding-right: 58px;
        }
      }
    }
  }
}
