.header {
  .search-field {
    display: flex;
    order: 10;

    width: 100%;

    &__button {
      transition: none;
    }
    &__input {
      margin-left: 16px;

      background-color: $black;

      color: $white;

      font-family: $font-family-titles;
      font-weight: normal;
      font-size: 24px;
      line-height: 30px;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      @include media-breakpoint-down(768px) {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.02em;
        text-transform: capitalize;
      }

      &::placeholder {
        font-family: $font-family-titles;
        font-weight: normal;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #666666;

        @include media-breakpoint-down(768px) {
          font-weight: 500;
          font-size: 20px;
          line-height: 23px;
          letter-spacing: 0.02em;
          text-transform: capitalize;
        }
      }
    }
    .close-comment {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 32px;
      height: 32px;

      transition: 0.2s;
      svg > path {
        fill: $white;
      }
      &:hover > svg > path {
        fill: $green;

        transition: 0.2s;
      }
    }
  }
}
