.gutenberg__verse {
  padding-top: 20px;
  padding-bottom: 20px;

  pre {
    margin-bottom: 0;
  }
  @media screen and (max-width: 500px) {
    pre {
      font-size: 14px;
    }
    img {
      display: none;
    }
  }
}
