.gutenberg__title {
  margin: 0;
  padding-bottom: 10px;
  width: 100%;
}

.gutenberg__title:not(:first-child) {
  padding-top: 10px;

  @include media-breakpoint-down(sm) {
    padding-top: 24px;
    padding-bottom: 6px;
  }
}
