.article {
  &--news {
    .article {
      &__wrapper {
        display: flex;
        justify-content: space-between;
        @include media-breakpoint-down(xs) {
          flex-direction: row;
        }
      }

      &__main {
        max-width: 551px;

        padding-right: 12px;
        margin-right: auto;

        @include media-breakpoint-up(sm) {
          padding-right: 24px;
        }
        @include media-breakpoint-down(md) {
          padding: 0;
        }
      }

      &__image {
        flex-shrink: 0;

        width: auto;

        @include media-breakpoint-up(sm) {
          max-width: 200px;
        }
      }
    }

    .article-featured {
      &__image {
        width: 88px;
        height: 88px;

        @include media-breakpoint-up(sm) {
          width: 150px;
          height: 138px;
        }

        @include media-breakpoint-up(lg) {
          width: 200px;
        }

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
