.pswp {
  &__top-bar {
    background-color: transparent;
  }

  &__counter {
    display: none;
  }

  &__button {
    &--close {
      width: 64px;
      height: 64px;
      margin-right: 12px;
      margin-top: 12px;

      background-color: rgba($black, 0.8);
      border-radius: 50%;
      background-position: 10px -34px;

      @include media-breakpoint-down(sm) {
        background-color: rgba(244, 244, 244, 0.8);

        .videos-pswp & {
          background-image: none !important;

          &::before,
          &::after {
            content: '';

            width: 21px;
            height: 2px;

            position: absolute;
            top: 50%;
            left: 50%;

            background-color: $black;

            transform: translate(-50%, -50%);
          }

          &::before {
            transform: translate(-50%, -50%) rotate(45deg);
          }

          &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
          }
        }
      }
    }

    &--arrow {
      &--right {
        right: calc(100% - 1100px + 24px);

        &::before {
          background-image: url('../static/images/chevron-right.svg');
        }
      }

      &--left {
        left: 24px;

        &::before {
          background-image: url('../static/images/chevron-left.svg');
        }
      }
    }

    &--arrow--right,
    &--arrow--left {
      &::before {
        height: 62px;
        width: 64px;

        top: 19px;

        background-color: rgba(0, 0, 0, 0.8);
        background-position: center center;
        background-size: 12px 20px;

        border-radius: 50%;
      }
    }
  }
}
