.pswp {
  &__top-bar {
    background-color: transparent;
  }

  &__button {
    width: 64px;
    height: 64px;
    margin-right: 12px;
    margin-top: 12px;

    &--close {
      background-color: rgba($black, 0.8);
      border-radius: 50%;
      background-position: 10px -34px;
    }
  }
}